---
import { Icon } from 'astro-icon/components';


interface Props {
	title: string;
	href: string;
	bgColor: string;
	fontColor : string;
	icon: string;
}

const { href, title, bgColor, fontColor, icon } = Astro.props;
---

<a href={href} class="w-full" data-astro-prefetch="viewport">
	<button class={`${bgColor} ${fontColor} w-full h-11 rounded-md flex items-center justify-center gap-2 hover:bg-opacity-60 ransition-all duration-500 `}>
	<Icon name={icon} class="text-3xl" />
		<p class="text-xl">{title}</p>
	</button>
</a>
